// Package nifi implements the Azure ARM Nifi service API version 1.0.0.
//
// The Rest Api provides programmatic access to command and control a NiFi instance in real time. Start and
// stop processors, monitor queues, query provenance data, and more. Each endpoint below includes a description,
// definitions of the expected input and output, potential response codes, and the authorizations required
// to invoke each service.
package nifi

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
    "context"
    "github.com/Azure/go-autorest/autorest"
    "github.com/Azure/go-autorest/autorest/azure"
    "github.com/Azure/go-autorest/autorest/validation"
    "github.com/Azure/go-autorest/tracing"
    "io"
    "net/http"
)

const (
// DefaultBaseURI is the default URI used for the service Nifi
DefaultBaseURI = "/nifi-api")

// BaseClient is the base client for Nifi.
type BaseClient struct {
    autorest.Client
    BaseURI string
}

// New creates an instance of the BaseClient client.
func New()BaseClient {
    return NewWithBaseURI(DefaultBaseURI, )
}

// NewWithBaseURI creates an instance of the BaseClient client.
func NewWithBaseURI(baseURI string, ) BaseClient {
    return BaseClient{
        Client: autorest.NewClientWithUserAgent(UserAgent()),
        BaseURI: baseURI,
    }
}

    // ClearState sends the clear state request.
        // Parameters:
            // ID - the controller service id.
    func (client BaseClient) ClearState(ctx context.Context, ID string) (result ComponentStateDTO, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ClearState")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ClearStatePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState", nil , "Failure preparing request")
        return
        }

                resp, err := client.ClearStateSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState", resp, "Failure sending request")
                return
                }

                result, err = client.ClearStateResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState", resp, "Failure responding to request")
                }

        return
        }

        // ClearStatePreparer prepares the ClearState request.
        func (client BaseClient) ClearStatePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/controller-services/{id}/state/clear-requests",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ClearStateSender sends the ClearState request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ClearStateSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ClearStateResponder handles the response to the ClearState request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ClearStateResponder(resp *http.Response) (result ComponentStateDTO, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ClearState1 sends the clear state 1 request.
        // Parameters:
            // ID - the processor id.
    func (client BaseClient) ClearState1(ctx context.Context, ID string) (result ComponentStateDTO, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ClearState1")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ClearState1Preparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState1", nil , "Failure preparing request")
        return
        }

                resp, err := client.ClearState1Sender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState1", resp, "Failure sending request")
                return
                }

                result, err = client.ClearState1Responder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState1", resp, "Failure responding to request")
                }

        return
        }

        // ClearState1Preparer prepares the ClearState1 request.
        func (client BaseClient) ClearState1Preparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/processors/{id}/state/clear-requests",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ClearState1Sender sends the ClearState1 request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ClearState1Sender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ClearState1Responder handles the response to the ClearState1 request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ClearState1Responder(resp *http.Response) (result ComponentStateDTO, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ClearState2 sends the clear state 2 request.
        // Parameters:
            // ID - the reporting task id.
    func (client BaseClient) ClearState2(ctx context.Context, ID string) (result ComponentStateDTO, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ClearState2")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ClearState2Preparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState2", nil , "Failure preparing request")
        return
        }

                resp, err := client.ClearState2Sender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState2", resp, "Failure sending request")
                return
                }

                result, err = client.ClearState2Responder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "ClearState2", resp, "Failure responding to request")
                }

        return
        }

        // ClearState2Preparer prepares the ClearState2 request.
        func (client BaseClient) ClearState2Preparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/reporting-tasks/{id}/state/clear-requests",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ClearState2Sender sends the ClearState2 request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ClearState2Sender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ClearState2Responder handles the response to the ClearState2 request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ClearState2Responder(resp *http.Response) (result ComponentStateDTO, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CommitInputPortTransaction sends the commit input port transaction request.
        // Parameters:
            // responseCode - the response code. Available values are BAD_CHECKSUM(19), CONFIRM_TRANSACTION(12) or
            // CANCEL_TRANSACTION(15).
            // portID - the input port id.
            // transactionID - the transaction id.
    func (client BaseClient) CommitInputPortTransaction(ctx context.Context, responseCode int32, portID string, transactionID string) (result TransactionResultEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CommitInputPortTransaction")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CommitInputPortTransactionPreparer(ctx, responseCode, portID, transactionID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitInputPortTransaction", nil , "Failure preparing request")
        return
        }

                resp, err := client.CommitInputPortTransactionSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitInputPortTransaction", resp, "Failure sending request")
                return
                }

                result, err = client.CommitInputPortTransactionResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitInputPortTransaction", resp, "Failure responding to request")
                }

        return
        }

        // CommitInputPortTransactionPreparer prepares the CommitInputPortTransaction request.
        func (client BaseClient) CommitInputPortTransactionPreparer(ctx context.Context, responseCode int32, portID string, transactionID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "portId": autorest.Encode("path",portID),
                "transactionId": autorest.Encode("path",transactionID),
                }

                        queryParameters := map[string]interface{} {
            "responseCode": autorest.Encode("query",responseCode),
            }

        preparer := autorest.CreatePreparer(
        autorest.AsDelete(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/data-transfer/input-ports/{portId}/transactions/{transactionId}",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CommitInputPortTransactionSender sends the CommitInputPortTransaction request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CommitInputPortTransactionSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CommitInputPortTransactionResponder handles the response to the CommitInputPortTransaction request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CommitInputPortTransactionResponder(resp *http.Response) (result TransactionResultEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict,http.StatusServiceUnavailable),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CommitOutputPortTransaction sends the commit output port transaction request.
        // Parameters:
            // responseCode - the response code. Available values are CONFIRM_TRANSACTION(12) or CANCEL_TRANSACTION(15).
            // checksum - a checksum calculated at client side using CRC32 to check flow file content integrity. It must
            // match with the value calculated at server side.
            // portID - the output port id.
            // transactionID - the transaction id.
    func (client BaseClient) CommitOutputPortTransaction(ctx context.Context, responseCode int32, checksum string, portID string, transactionID string) (result TransactionResultEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CommitOutputPortTransaction")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CommitOutputPortTransactionPreparer(ctx, responseCode, checksum, portID, transactionID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitOutputPortTransaction", nil , "Failure preparing request")
        return
        }

                resp, err := client.CommitOutputPortTransactionSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitOutputPortTransaction", resp, "Failure sending request")
                return
                }

                result, err = client.CommitOutputPortTransactionResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CommitOutputPortTransaction", resp, "Failure responding to request")
                }

        return
        }

        // CommitOutputPortTransactionPreparer prepares the CommitOutputPortTransaction request.
        func (client BaseClient) CommitOutputPortTransactionPreparer(ctx context.Context, responseCode int32, checksum string, portID string, transactionID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "portId": autorest.Encode("path",portID),
                "transactionId": autorest.Encode("path",transactionID),
                }

                        queryParameters := map[string]interface{} {
            "checksum": autorest.Encode("query",checksum),
            "responseCode": autorest.Encode("query",responseCode),
            }

        preparer := autorest.CreatePreparer(
        autorest.AsDelete(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/data-transfer/output-ports/{portId}/transactions/{transactionId}",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CommitOutputPortTransactionSender sends the CommitOutputPortTransaction request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CommitOutputPortTransactionSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CommitOutputPortTransactionResponder handles the response to the CommitOutputPortTransaction request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CommitOutputPortTransactionResponder(resp *http.Response) (result TransactionResultEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict,http.StatusServiceUnavailable),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CopySnippet sends the copy snippet request.
        // Parameters:
            // ID - the process group id.
            // body - the copy snippet request.
    func (client BaseClient) CopySnippet(ctx context.Context, ID string, body CopySnippetRequestEntity) (result FlowSnippetEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CopySnippet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CopySnippetPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CopySnippet", nil , "Failure preparing request")
        return
        }

                resp, err := client.CopySnippetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CopySnippet", resp, "Failure sending request")
                return
                }

                result, err = client.CopySnippetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CopySnippet", resp, "Failure responding to request")
                }

        return
        }

        // CopySnippetPreparer prepares the CopySnippet request.
        func (client BaseClient) CopySnippetPreparer(ctx context.Context, ID string, body CopySnippetRequestEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/snippet-instance",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CopySnippetSender sends the CopySnippet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CopySnippetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CopySnippetResponder handles the response to the CopySnippet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CopySnippetResponder(resp *http.Response) (result FlowSnippetEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateAccessPolicy sends the create access policy request.
        // Parameters:
            // body - the access policy configuration details.
    func (client BaseClient) CreateAccessPolicy(ctx context.Context, body AccessPolicyEntity) (result AccessPolicyEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateAccessPolicy")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Users", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Users", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.UserGroups", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.UserGroups", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateAccessPolicy", err.Error())
                }

                    req, err := client.CreateAccessPolicyPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessPolicy", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateAccessPolicySender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessPolicy", resp, "Failure sending request")
                return
                }

                result, err = client.CreateAccessPolicyResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessPolicy", resp, "Failure responding to request")
                }

        return
        }

        // CreateAccessPolicyPreparer prepares the CreateAccessPolicy request.
        func (client BaseClient) CreateAccessPolicyPreparer(ctx context.Context, body AccessPolicyEntity) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/policies"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateAccessPolicySender sends the CreateAccessPolicy request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateAccessPolicySender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateAccessPolicyResponder handles the response to the CreateAccessPolicy request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateAccessPolicyResponder(resp *http.Response) (result AccessPolicyEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateAccessToken the token returned is formatted as a JSON Web Token (JWT). The token is base64 encoded and
    // comprised of three parts. The header, the body, and the signature. The expiration of the token is a contained within
    // the body. The token can be used in the Authorization header in the format 'Authorization: Bearer <token>'.
    func (client BaseClient) CreateAccessToken(ctx context.Context, username string, password string) (result String, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateAccessToken")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateAccessTokenPreparer(ctx, username, password)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessToken", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateAccessTokenSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessToken", resp, "Failure sending request")
                return
                }

                result, err = client.CreateAccessTokenResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessToken", resp, "Failure responding to request")
                }

        return
        }

        // CreateAccessTokenPreparer prepares the CreateAccessToken request.
        func (client BaseClient) CreateAccessTokenPreparer(ctx context.Context, username string, password string) (*http.Request, error) {
                formDataParameters := map[string]interface{} {
                }
                    if len(username) > 0 {
                    formDataParameters["username"] = username
                    }
                    if len(password) > 0 {
                    formDataParameters["password"] = password
                    }

                preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/access/token"),
        autorest.WithFormData(autorest.MapToValues(formDataParameters)))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateAccessTokenSender sends the CreateAccessToken request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateAccessTokenSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateAccessTokenResponder handles the response to the CreateAccessToken request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateAccessTokenResponder(resp *http.Response) (result String, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusForbidden,http.StatusConflict,http.StatusInternalServerError),
        autorest.ByUnmarshallingJSON(&result.Value),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateAccessTokenFromTicket the token returned is formatted as a JSON Web Token (JWT). The token is base64 encoded
    // and comprised of three parts. The header, the body, and the signature. The expiration of the token is a contained
    // within the body. The token can be used in the Authorization header in the format 'Authorization: Bearer <token>'.
    func (client BaseClient) CreateAccessTokenFromTicket(ctx context.Context) (result String, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateAccessTokenFromTicket")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateAccessTokenFromTicketPreparer(ctx)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessTokenFromTicket", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateAccessTokenFromTicketSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessTokenFromTicket", resp, "Failure sending request")
                return
                }

                result, err = client.CreateAccessTokenFromTicketResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateAccessTokenFromTicket", resp, "Failure responding to request")
                }

        return
        }

        // CreateAccessTokenFromTicketPreparer prepares the CreateAccessTokenFromTicket request.
        func (client BaseClient) CreateAccessTokenFromTicketPreparer(ctx context.Context) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/access/kerberos"))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateAccessTokenFromTicketSender sends the CreateAccessTokenFromTicket request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateAccessTokenFromTicketSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateAccessTokenFromTicketResponder handles the response to the CreateAccessTokenFromTicket request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateAccessTokenFromTicketResponder(resp *http.Response) (result String, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusConflict,http.StatusInternalServerError),
        autorest.ByUnmarshallingJSON(&result.Value),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateConnection sends the create connection request.
        // Parameters:
            // ID - the process group id.
            // body - the connection configuration details.
    func (client BaseClient) CreateConnection(ctx context.Context, ID string, body ConnectionEntity) (result ConnectionEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateConnection")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Source", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Source.ID", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Component.Source.GroupID", Name: validation.Null, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.Destination", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Destination.ID", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Component.Destination.GroupID", Name: validation.Null, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.SelectedRelationships", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.SelectedRelationships", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.AvailableRelationships", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.AvailableRelationships", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateConnection", err.Error())
                }

                    req, err := client.CreateConnectionPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateConnection", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateConnectionSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateConnection", resp, "Failure sending request")
                return
                }

                result, err = client.CreateConnectionResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateConnection", resp, "Failure responding to request")
                }

        return
        }

        // CreateConnectionPreparer prepares the CreateConnection request.
        func (client BaseClient) CreateConnectionPreparer(ctx context.Context, ID string, body ConnectionEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/connections",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateConnectionSender sends the CreateConnection request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateConnectionSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateConnectionResponder handles the response to the CreateConnection request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateConnectionResponder(resp *http.Response) (result ConnectionEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateControllerService sends the create controller service request.
        // Parameters:
            // body - the controller service configuration details.
    func (client BaseClient) CreateControllerService(ctx context.Context, body ControllerServiceEntity) (result ControllerServiceEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateControllerService")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.ReferencingComponents", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.ReferencingComponents", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateControllerService", err.Error())
                }

                    req, err := client.CreateControllerServicePreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateControllerServiceSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService", resp, "Failure sending request")
                return
                }

                result, err = client.CreateControllerServiceResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService", resp, "Failure responding to request")
                }

        return
        }

        // CreateControllerServicePreparer prepares the CreateControllerService request.
        func (client BaseClient) CreateControllerServicePreparer(ctx context.Context, body ControllerServiceEntity) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/controller/controller-services"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateControllerServiceSender sends the CreateControllerService request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateControllerServiceSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateControllerServiceResponder handles the response to the CreateControllerService request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateControllerServiceResponder(resp *http.Response) (result ControllerServiceEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateControllerService1 sends the create controller service 1 request.
        // Parameters:
            // ID - the process group id.
            // body - the controller service configuration details.
    func (client BaseClient) CreateControllerService1(ctx context.Context, ID string, body ControllerServiceEntity) (result ControllerServiceEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateControllerService1")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.ReferencingComponents", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.ReferencingComponents", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateControllerService1", err.Error())
                }

                    req, err := client.CreateControllerService1Preparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService1", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateControllerService1Sender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService1", resp, "Failure sending request")
                return
                }

                result, err = client.CreateControllerService1Responder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateControllerService1", resp, "Failure responding to request")
                }

        return
        }

        // CreateControllerService1Preparer prepares the CreateControllerService1 request.
        func (client BaseClient) CreateControllerService1Preparer(ctx context.Context, ID string, body ControllerServiceEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/controller-services",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateControllerService1Sender sends the CreateControllerService1 request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateControllerService1Sender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateControllerService1Responder handles the response to the CreateControllerService1 request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateControllerService1Responder(resp *http.Response) (result ControllerServiceEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateDownloadToken the token returned is a base64 encoded string. It is valid for a single request up to five
    // minutes from being issued. It is used as a query parameter name 'access_token'.
    func (client BaseClient) CreateDownloadToken(ctx context.Context) (result String, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateDownloadToken")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateDownloadTokenPreparer(ctx)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDownloadToken", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateDownloadTokenSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDownloadToken", resp, "Failure sending request")
                return
                }

                result, err = client.CreateDownloadTokenResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDownloadToken", resp, "Failure responding to request")
                }

        return
        }

        // CreateDownloadTokenPreparer prepares the CreateDownloadToken request.
        func (client BaseClient) CreateDownloadTokenPreparer(ctx context.Context) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/access/download-token"))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateDownloadTokenSender sends the CreateDownloadToken request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateDownloadTokenSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateDownloadTokenResponder handles the response to the CreateDownloadToken request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateDownloadTokenResponder(resp *http.Response) (result String, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusForbidden,http.StatusConflict,http.StatusInternalServerError),
        autorest.ByUnmarshallingJSON(&result.Value),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateDropRequest sends the create drop request request.
        // Parameters:
            // ID - the connection id.
    func (client BaseClient) CreateDropRequest(ctx context.Context, ID string) (result DropRequestEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateDropRequest")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateDropRequestPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDropRequest", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateDropRequestSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDropRequest", resp, "Failure sending request")
                return
                }

                result, err = client.CreateDropRequestResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateDropRequest", resp, "Failure responding to request")
                }

        return
        }

        // CreateDropRequestPreparer prepares the CreateDropRequest request.
        func (client BaseClient) CreateDropRequestPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/flowfile-queues/{id}/drop-requests",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateDropRequestSender sends the CreateDropRequest request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateDropRequestSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateDropRequestResponder handles the response to the CreateDropRequest request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateDropRequestResponder(resp *http.Response) (result DropRequestEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusAccepted,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateFlowFileListing sends the create flow file listing request.
        // Parameters:
            // ID - the connection id.
    func (client BaseClient) CreateFlowFileListing(ctx context.Context, ID string) (result ListingRequestEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateFlowFileListing")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateFlowFileListingPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFlowFileListing", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateFlowFileListingSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFlowFileListing", resp, "Failure sending request")
                return
                }

                result, err = client.CreateFlowFileListingResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFlowFileListing", resp, "Failure responding to request")
                }

        return
        }

        // CreateFlowFileListingPreparer prepares the CreateFlowFileListing request.
        func (client BaseClient) CreateFlowFileListingPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/flowfile-queues/{id}/listing-requests",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateFlowFileListingSender sends the CreateFlowFileListing request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateFlowFileListingSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateFlowFileListingResponder handles the response to the CreateFlowFileListing request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateFlowFileListingResponder(resp *http.Response) (result ListingRequestEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusAccepted,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateFunnel sends the create funnel request.
        // Parameters:
            // ID - the process group id.
            // body - the funnel configuration details.
    func (client BaseClient) CreateFunnel(ctx context.Context, ID string, body FunnelEntity) (result FunnelEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateFunnel")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateFunnelPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFunnel", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateFunnelSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFunnel", resp, "Failure sending request")
                return
                }

                result, err = client.CreateFunnelResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateFunnel", resp, "Failure responding to request")
                }

        return
        }

        // CreateFunnelPreparer prepares the CreateFunnel request.
        func (client BaseClient) CreateFunnelPreparer(ctx context.Context, ID string, body FunnelEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/funnels",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateFunnelSender sends the CreateFunnel request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateFunnelSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateFunnelResponder handles the response to the CreateFunnel request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateFunnelResponder(resp *http.Response) (result FunnelEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateInputPort sends the create input port request.
        // Parameters:
            // ID - the process group id.
            // body - the input port configuration details.
    func (client BaseClient) CreateInputPort(ctx context.Context, ID string, body PortEntity) (result PortEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateInputPort")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.UserAccessControl", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.UserAccessControl", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.GroupAccessControl", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.GroupAccessControl", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateInputPort", err.Error())
                }

                    req, err := client.CreateInputPortPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateInputPort", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateInputPortSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateInputPort", resp, "Failure sending request")
                return
                }

                result, err = client.CreateInputPortResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateInputPort", resp, "Failure responding to request")
                }

        return
        }

        // CreateInputPortPreparer prepares the CreateInputPort request.
        func (client BaseClient) CreateInputPortPreparer(ctx context.Context, ID string, body PortEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/input-ports",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateInputPortSender sends the CreateInputPort request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateInputPortSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateInputPortResponder handles the response to the CreateInputPort request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateInputPortResponder(resp *http.Response) (result PortEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateLabel sends the create label request.
        // Parameters:
            // ID - the process group id.
            // body - the label configuration details.
    func (client BaseClient) CreateLabel(ctx context.Context, ID string, body LabelEntity) (result LabelEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateLabel")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateLabelPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateLabel", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateLabelSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateLabel", resp, "Failure sending request")
                return
                }

                result, err = client.CreateLabelResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateLabel", resp, "Failure responding to request")
                }

        return
        }

        // CreateLabelPreparer prepares the CreateLabel request.
        func (client BaseClient) CreateLabelPreparer(ctx context.Context, ID string, body LabelEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/labels",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateLabelSender sends the CreateLabel request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateLabelSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateLabelResponder handles the response to the CreateLabel request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateLabelResponder(resp *http.Response) (result LabelEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateOutputPort sends the create output port request.
        // Parameters:
            // ID - the process group id.
            // body - the output port configuration.
    func (client BaseClient) CreateOutputPort(ctx context.Context, ID string, body PortEntity) (result PortEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateOutputPort")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.UserAccessControl", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.UserAccessControl", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.GroupAccessControl", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.GroupAccessControl", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateOutputPort", err.Error())
                }

                    req, err := client.CreateOutputPortPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateOutputPort", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateOutputPortSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateOutputPort", resp, "Failure sending request")
                return
                }

                result, err = client.CreateOutputPortResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateOutputPort", resp, "Failure responding to request")
                }

        return
        }

        // CreateOutputPortPreparer prepares the CreateOutputPort request.
        func (client BaseClient) CreateOutputPortPreparer(ctx context.Context, ID string, body PortEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/output-ports",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateOutputPortSender sends the CreateOutputPort request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateOutputPortSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateOutputPortResponder handles the response to the CreateOutputPort request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateOutputPortResponder(resp *http.Response) (result PortEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreatePortTransaction sends the create port transaction request.
        // Parameters:
            // portType - the port type.
    func (client BaseClient) CreatePortTransaction(ctx context.Context, portType string, portID string) (result TransactionResultEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreatePortTransaction")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreatePortTransactionPreparer(ctx, portType, portID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreatePortTransaction", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreatePortTransactionSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreatePortTransaction", resp, "Failure sending request")
                return
                }

                result, err = client.CreatePortTransactionResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreatePortTransaction", resp, "Failure responding to request")
                }

        return
        }

        // CreatePortTransactionPreparer prepares the CreatePortTransaction request.
        func (client BaseClient) CreatePortTransactionPreparer(ctx context.Context, portType string, portID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "portId": autorest.Encode("path",portID),
                "portType": autorest.Encode("path",portType),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/data-transfer/{portType}/{portId}/transactions",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreatePortTransactionSender sends the CreatePortTransaction request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreatePortTransactionSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreatePortTransactionResponder handles the response to the CreatePortTransaction request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreatePortTransactionResponder(resp *http.Response) (result TransactionResultEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict,http.StatusServiceUnavailable),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateProcessGroup sends the create process group request.
        // Parameters:
            // ID - the process group id.
            // body - the process group configuration details.
    func (client BaseClient) CreateProcessGroup(ctx context.Context, ID string, body ProcessGroupEntity) (result ProcessGroupEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateProcessGroup")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateProcessGroupPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessGroup", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateProcessGroupSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessGroup", resp, "Failure sending request")
                return
                }

                result, err = client.CreateProcessGroupResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessGroup", resp, "Failure responding to request")
                }

        return
        }

        // CreateProcessGroupPreparer prepares the CreateProcessGroup request.
        func (client BaseClient) CreateProcessGroupPreparer(ctx context.Context, ID string, body ProcessGroupEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/process-groups",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateProcessGroupSender sends the CreateProcessGroup request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateProcessGroupSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateProcessGroupResponder handles the response to the CreateProcessGroup request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateProcessGroupResponder(resp *http.Response) (result ProcessGroupEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateProcessor sends the create processor request.
        // Parameters:
            // ID - the process group id.
            // body - the processor configuration details.
    func (client BaseClient) CreateProcessor(ctx context.Context, ID string, body ProcessorEntity) (result ProcessorEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateProcessor")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Config", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Config.AutoTerminatedRelationships", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Config.AutoTerminatedRelationships", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateProcessor", err.Error())
                }

                    req, err := client.CreateProcessorPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessor", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateProcessorSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessor", resp, "Failure sending request")
                return
                }

                result, err = client.CreateProcessorResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateProcessor", resp, "Failure responding to request")
                }

        return
        }

        // CreateProcessorPreparer prepares the CreateProcessor request.
        func (client BaseClient) CreateProcessorPreparer(ctx context.Context, ID string, body ProcessorEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/processors",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateProcessorSender sends the CreateProcessor request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateProcessorSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateProcessorResponder handles the response to the CreateProcessor request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateProcessorResponder(resp *http.Response) (result ProcessorEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateRemoteProcessGroup sends the create remote process group request.
        // Parameters:
            // ID - the process group id.
            // body - the remote process group configuration details.
    func (client BaseClient) CreateRemoteProcessGroup(ctx context.Context, ID string, body RemoteProcessGroupEntity) (result RemoteProcessGroupEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateRemoteProcessGroup")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Component", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Contents", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Contents.InputPorts", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Contents.InputPorts", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                	{Target: "body.Component.Contents.OutputPorts", Name: validation.Null, Rule: false ,
                Chain: []validation.Constraint{	{Target: "body.Component.Contents.OutputPorts", Name: validation.UniqueItems, Rule: true, Chain: nil },
                }},
                }},
                }}}}}); err != nil {
                return result, validation.NewError("nifi.BaseClient", "CreateRemoteProcessGroup", err.Error())
                }

                    req, err := client.CreateRemoteProcessGroupPreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateRemoteProcessGroup", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateRemoteProcessGroupSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateRemoteProcessGroup", resp, "Failure sending request")
                return
                }

                result, err = client.CreateRemoteProcessGroupResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateRemoteProcessGroup", resp, "Failure responding to request")
                }

        return
        }

        // CreateRemoteProcessGroupPreparer prepares the CreateRemoteProcessGroup request.
        func (client BaseClient) CreateRemoteProcessGroupPreparer(ctx context.Context, ID string, body RemoteProcessGroupEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/remote-process-groups",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateRemoteProcessGroupSender sends the CreateRemoteProcessGroup request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateRemoteProcessGroupSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateRemoteProcessGroupResponder handles the response to the CreateRemoteProcessGroup request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateRemoteProcessGroupResponder(resp *http.Response) (result RemoteProcessGroupEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateReportingTask sends the create reporting task request.
        // Parameters:
            // body - the reporting task configuration details.
    func (client BaseClient) CreateReportingTask(ctx context.Context, body ReportingTaskEntity) (result ReportingTaskEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateReportingTask")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateReportingTaskPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateReportingTask", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateReportingTaskSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateReportingTask", resp, "Failure sending request")
                return
                }

                result, err = client.CreateReportingTaskResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateReportingTask", resp, "Failure responding to request")
                }

        return
        }

        // CreateReportingTaskPreparer prepares the CreateReportingTask request.
        func (client BaseClient) CreateReportingTaskPreparer(ctx context.Context, body ReportingTaskEntity) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/controller/reporting-tasks"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateReportingTaskSender sends the CreateReportingTask request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateReportingTaskSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateReportingTaskResponder handles the response to the CreateReportingTask request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateReportingTaskResponder(resp *http.Response) (result ReportingTaskEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateSnippet sends the create snippet request.
        // Parameters:
            // body - the snippet configuration details.
    func (client BaseClient) CreateSnippet(ctx context.Context, body SnippetEntity) (result SnippetEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateSnippet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateSnippetPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateSnippet", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateSnippetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateSnippet", resp, "Failure sending request")
                return
                }

                result, err = client.CreateSnippetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateSnippet", resp, "Failure responding to request")
                }

        return
        }

        // CreateSnippetPreparer prepares the CreateSnippet request.
        func (client BaseClient) CreateSnippetPreparer(ctx context.Context, body SnippetEntity) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/snippets"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateSnippetSender sends the CreateSnippet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateSnippetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateSnippetResponder handles the response to the CreateSnippet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateSnippetResponder(resp *http.Response) (result SnippetEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateTemplate sends the create template request.
        // Parameters:
            // ID - the process group id.
            // body - the create template request.
    func (client BaseClient) CreateTemplate(ctx context.Context, ID string, body CreateTemplateRequestEntity) (result TemplateEntity, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateTemplate")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateTemplatePreparer(ctx, ID, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateTemplate", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateTemplateSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateTemplate", resp, "Failure sending request")
                return
                }

                result, err = client.CreateTemplateResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateTemplate", resp, "Failure responding to request")
                }

        return
        }

        // CreateTemplatePreparer prepares the CreateTemplate request.
        func (client BaseClient) CreateTemplatePreparer(ctx context.Context, ID string, body CreateTemplateRequestEntity) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

        preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/process-groups/{id}/templates",pathParameters),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateTemplateSender sends the CreateTemplate request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateTemplateSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateTemplateResponder handles the response to the CreateTemplate request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateTemplateResponder(resp *http.Response) (result TemplateEntity, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusBadRequest,http.StatusUnauthorized,http.StatusForbidden,http.StatusNotFound,http.StatusConflict),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // CreateUIExtensionToken the token returned is a base64 encoded string. It is valid for a single request up to five
    // minutes from being issued. It is used as a query parameter name 'access_token'.
    func (client BaseClient) CreateUIExtensionToken(ctx context.Context) (result String, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateUIExtensionToken")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.CreateUIExtensionTokenPreparer(ctx)
        if err != nil {
        err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateUIExtensionToken", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateUIExtensionTokenSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateUIExtensionToken", resp, "Failure sending request")
                return
                }

                result, err = client.CreateUIExtensionTokenResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "nifi.BaseClient", "CreateUIExtensionToken", resp, "Failure responding to request")
                }

        return
        }

        // CreateUIExtensionTokenPreparer prepares the CreateUIExtensionToken request.
        func (client BaseClient) CreateUIExtensionTokenPreparer(ctx context.Context) (*http.Request, error) {
        preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/access/ui-extension-token"))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateUIExtensionTokenSender sends the CreateUIExtensionToken request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateUIExtensionTokenSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateUIExtensionTokenResponder handles the response to the CreateUIExtensionToken request. The method always
    // closes the http.Response Body.
[...]
